
/* Reset */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }


/* Main */


body {
	background: #FFFFFF repeat-y fixed;
	font-family: 'Varela Round', 'Tahoma', sans-serif;	font-size: 14px;
	color: #6a6a6a;
}
h1, h2, h3 {
	margin-bottom: 1.5em;
	letter-spacing: -0.05em;
	font-family: 'Varela Round', 'Tahoma', sans-serif;	
}

h1, h1 a, h2, h2 a {
	text-decoration: none;
}

h1 a:hover, h2 a:hover {
	text-decoration: none;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 26px;
}

h3 {
	font-size: 16px;
	font-weight: normal;
	color: #939292;
}

p, ul, ol {
	margin-top: 1.5em;
	line-height: 150%;
}

ul, ol {
	margin-left: 3em;
}

a {
	color: #958cd6;
	text-decoration: none;

}

a:hover {
	text-decoration: none;
	font-style: italic;
}

a img {
	border: none;
}

img.left {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
		margin-top: 5px;

}

img.right {
	float: right;
	margin-right: 20px;
		margin-top: 5px;

	margin-bottom: 20px;

}

hr {
	display: none;
}


/* Logo */

#logo {
	position: relative;
	width: 870px;
	height: 120px;
	padding-bottom: 10px;
}

#logo h1 {
	
	position: relative;
	float: left;
}

#logo h2 {
	color:  #dcdcdc;
	font: italic 29px/14px 'Varela Round', sans-serif;
	padding-left: 490px;
}

#logo a {
	text-decoration: none;
}

#logofont{
	font-family: 'Snippet', sans-serif;
	font-size:108px;

}
#logopurp{
	color: #958cd6;
	
}

#logopink{
	color: #ff638f;
}
#logogrey{
	color: #6a6a6a;
}


/* Main Nav */

#headerwrap {
	
	position: relative;
	padding-left: 90px;
	right: 65px;
	padding-top: 0px;
}

#mainnav {
width: 470px;
height: 32px;
background: gainsboro no-repeat;
-moz-border-radius: 15px;
border-radius: 15px;
top: 140px;
margin-top: 10px;
float: left;
}

#mainnav ul {
	list-style: none;
	margin-left: 43px;
	position: relative;
	bottom: 16px;
}

#mainnav li {
	float: left;
	margin-right: 37px;
}

#mainnav a {
	
	text-decoration: none;
	font-size: 22px;
	color: #6a6a6a;
	font-style: normal;
	font-weight: normal;
}
#mainnav a:hover {
	text-decoration: none;
	color: #958cd6;

}
/* Page */

#wrapper {
width: 960px;


position: relative;
	margin: 35px auto 0;
	top: -20px;
}

/* Content */

#content {
	float: left;
	width: 600px;
	margin-top: 10px;
	margin-left: 15px;
}

.post {
	
}

.post .title {
	font-family: 'Snippet', sans-serif;
	color: #ff638f;
	margin: 0;
	padding: 0px 0px 8px;
}
	
.post .title a {
	color: #ff638f;
	padding: 0 20px;
	font-size: 24px;
		font-style: normal;

	
}

.post .title a: hover {
	
	padding: 0 20px;
	font-size: 24px;
	font-weight: normal;
	font-style: normal;
}

.post .entry {
	padding: 0 20px;
	font-size: 14px;
	
}
.post h3 {
	margin: 0px 0px 20px 0px;
	font-size: 14px;
	
}
.post .other {
	font-style:italic;
	height: 47px;
	margin: 20px 0px 5px 20px;
}
.post .other a {
	color: #dcdcdc;
	font: normal normal 18px 'Snippet', sans-serif;
}

.post .other a:hover {
	color: #ff638f;
	font-style: italic;
	
}
/* Sidebar */

#sidebar {
width: 230px;
float: left;
font-size: 12px;
	margin-top: -4px;
}

#sidebar ul {
	
	list-style: none;
	line-height: normal;
	margin-right: 0;
	margin-top: 0;
	margin-left: 0;
	
}

#sidebar li {
	margin-bottom: 30px;
	padding: 0 10px 0 20px;
	
}

#sidebar li li {
	padding-left: 2px;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 0px;
}

#sidebar li h2 {
	font-family: 'Snippet', sans-serif;
	font-size: 26px;
}
#sidebar a {
	text-decoration: none;
	font-size: 12px;
	color:  #dcdcdc;

}
#sidebar a:hover {
	text-decoration: none;
	color: #958cd6;
	font-style: normal;
}

#sidebarhead {
		color: #ff638f;
		font-size: 28px;
		font-family: 'Snippet', sans-serif;
		border-bottom: 1px solid #E5E5E5;
		margin-bottom: 6px;
}

#socialside{
	padding-bottom: 7px;
	padding-left: 10px;

}
#socialside a {

		color:  #ff638f;
	font-size: 12px;
	padding-bottom: px;
	line-height: 18px;
}


#socialheads a {
		color: #dcdcdc;
		font-size: 16px;
	padding-bottom: 12px;
		font-weight: bold;

	

}

#socialheads a: hover {
	color: #ff638f;
	

}

/* Footer */

#footer {
	
	width: 870px;
	height: 50px;
	padding-top: 80px;
	margin-left: 29px;
}

#footer p {
	margin: 0;
	line-height: normal;
	color: #B4B4B4;
}

#footer a {
	color: #B4B4B4;
}

#footer .legal {
	float: left;
}

#backimage {
position: absolute;
	left: -130px;
}

.details{ margin:15px 20px; }



#sliderheader {
		color: #dcdcdc;
		margin-bottom: 10px;
		margin-top: 0px;
		font: 36px 'Snippet', sans-serif;
		margin-left: 15px;
}

#socialicons {
	float: right;
	padding-right: 39px;
	margin-top: 20px;
}
	
.iconpic {
	width: 20px;
	padding-right: 2px;
	opacity: 0.22;
}

#aboutheader {
	color: #dcdcdc;
	margin-bottom: 10px;
	margin-top: 0px;
	font: 36px 'Snippet', sans-serif;
	margin-left: 15px;
}

.addthis1 
{
	
	margin-left: 440px;
	margin-top: -10px;
}

/* @group My Group */



/* @end */

.readmore {
		color: #ff638f;
		font-size: 22px;
		font-family: 'Snippet', sans-serif;
		border-bottom: 1px solid #E5E5E5;
		margin-left: 418px;
	margin-top: -20px;
} 

#tags a {
			color: #dcdcdc;
	margin-right: 10px;
	line-height: 40px;
}

#tags a:hover {
		color: #ff638f;
		}
